@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Jost', sans-serif;
    overflow-x: hidden;
}

@keyframes slide-right {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slide-left {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

.animate-slide-right {
    animation: slide-right 30s linear infinite;
}

.animate-slide-left {
    animation: slide-left 30s linear infinite;
}